@import '_var.scss';

@mixin h1jm {
    font-family: $jost;
    font-size: 48px;
    line-height: 48px;
    font-weight: 500;
}

@mixin h2jm {
    font-family: $jost;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 2px;
    font-weight: 500;
}

@mixin h3jm {
    font-family: $jost;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 5px;
    font-weight: 500;
}

@mixin bodyjr {
    font-family: $jost;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

@mixin btnred {
    padding: 18px 24px;
    border-radius: 8px;
    background-color: $peach;
    color: $white;
    text-transform : uppercase;
}

@mixin btnwhite {
    padding: 18px 24px;
    border-radius: 8px;
    background-color: $white;
    color: #333136;
    text-transform : uppercase;
}

@mixin btnhover {
    padding: 18px 24px;
    border-radius: 8px;
    background-color: $lpeach;
    color: $white;
    text-transform : uppercase;
}
