@import "_var.scss";
@import "_mixin.scss";

.wd_bloc_main_section {
	margin: 0 auto 160px;
	padding-top: 64px;
	width: 1111px;
	height: 252px;
	background-image: url(../src/img/wd-deco-top.png);
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 15px;
}

.wd_bloc_main_section_h1 {
	@include h1jm;
	color: $white;
	text-align: center;
	margin-bottom: 24px;
}

.wd_bloc_main_section_p {
	@include bodyjr;
	color: $white;
	text-align: center;
}

.wd_bloc_main_article {
	width: 1111px;
	height: auto;
	margin: 0 auto 160px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	align-content: stretch;
	gap: 25px;
}

.wd_bloc_main_article_div {
	width: 350px;
	height: 525px;
	border-radius: 15px;
}

.wd_bloc_main_article_div_invisible {
	width: 350px;
	height: 5px;
	border-radius: 15px;
}

.wd_bloc_main_article_div_invisible_div {
	width: 350px;
	border-radius: 15px;
	background-color: none;
}

.wd_bloc_main_article_div_div_img {
	border-radius: 15px 15px 0px 0px;
}

.wd_bloc_main_article_div_div_text_h3 {
	@include h3jm;
	margin-bottom: 16px;
	text-align: center;
	color: $peach;
}

.wd_bloc_main_article_div_div_text {
	background-color: #fdf3f0;
	padding: 32px;
	border-radius: 0px 0px 15px 15px;
}

.wd_bloc_main_article_div_div_text:hover {
	color: white;
	background-color: $peach;
	transition: 0.5s ease;
}

.wd_bloc_main_article_div_div_text:hover h3 {
	color: white;
	transition: 0.5s ease;
}

.wd_bloc_main_article_div_div_text_p {
	@include bodyjr;
	text-align: center;
}

.wd_bloc_main_nav {
	width: 1111px;
	margin: 0 auto 160px;
}

.wd_bloc_main_nav_ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.wd_bloc_main_nav_ul_li {
	width: 541px;
	height: 308px;
	background-color: coral;
	border-radius: 15px;
}

.wd_bloc_main_nav_ul_li_h2 {
	@include h2jm;
	color: $white;
	text-align: center;
}

.wd_bloc_main_nav_ul_li_h3 {
	@include h3jm;
	color: $white;
	text-align: center;
	&::after {
		color: #e7816b;
		font-weight: bold;
		content: "  >";
	}
}

.wd_bloc_main_nav_ul_li-appd {
	background-image: url(../src/img/wd-app-design.png);
}

.wd_bloc_main_nav_ul_li-wppd {
	background-image: url(../src/img/wd-graph-wppd.png);
}

.wd_bloc_main_nav_ul_li-grd {
	background-image: url(../src/img/wd-graph-app.png);
}

.wd_bloc_main_img_deco_top {
	height: 594px;
	width: 1006px;
	left: 0px;
	top: 281px;
	position: absolute;
	z-index: -1;
}

@media (min-width: 768px) and (max-width: 1024px) {
	.wd_bloc_main_section {
		margin: 64px auto 120px;
		width: 90vw;
		height: 252px;
		background-image: url(../src/img/wd-deco-top-tablette.png);
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 15px;
	}

	.wd_bloc_main_section_h1 {
		@include h1jm;
		color: $white;
		text-align: center;
		margin-top: 24px;
		margin-bottom: 24px;
	}

	.wd_bloc_main_section_p {
		@include bodyjr;
		color: $white;
		text-align: center;
	}

	.wd_bloc_main_article {
		width: 100%;
		height: auto;
		margin: 0 auto 160px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
		gap: 25px;
	}

	.wd_bloc_main_article_div {
		width: 689px;
		height: 310px;
		border-radius: 15px;
	}

	.wd_bloc_main_article_div_div {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: stretch;
		align-content: stretch;
	}

	.wd_bloc_main_article_div_invisible {
		display: none;
		width: 0px;
		height: 0px;
		border-radius: 0px;
	}

	.wd_bloc_main_article_div_invisible_div {
		display: none;
		width: 0px;
		border-radius: 0px;
		background-color: none;
	}

	.wd_bloc_main_article_div_div_img {
		width: 50%;
		height: auto;
		border-radius: 15px 0px 0px 15px;
	}

	.wd_bloc_main_article_div_div_text_h3 {
		@include h3jm;
		margin-bottom: 16px;
		text-align: center;
		color: $peach;
	}

	.wd_bloc_main_article_div_div_text {
		background-color: #fdf3f0;
		width: 50%;
		height: auto;
		padding: 0px;
		border-radius: 0px 15px 15px 0px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: center;
	}

	/*<!------------------Made with love by Arthur Lefevre lefevre.arthur98@gmail.com--------------------->*/

	.wd_bloc_main_article_div_div_text:hover {
		color: white;
		background-color: $peach;
		transition: 0.5s ease;
	}

	.wd_bloc_main_article_div_div_text_p {
		@include bodyjr;
		text-align: center;
		margin: 0 34px;
	}

	.wd_bloc_main_nav {
		width: 90vw;
		margin: 0 auto 160px;
	}

	.wd_bloc_main_nav_ul {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		gap: 24px;
	}

	.wd_bloc_main_nav_ul_li {
		width: 689px;
		height: 200px;
		background-color: coral;
		border-radius: 15px;
	}

	.wd_bloc_main_nav_ul_li_h2 {
		@include h2jm;
		color: $white;
		text-align: center;
	}

	.wd_bloc_main_nav_ul_li_h3 {
		@include h3jm;
		color: $white;
		text-align: center;
	}

	.wd_bloc_main_nav_ul_li-appd {
		background-image: url(../src/img/wd-app-design-tablette.png);
		background-position: center;
		background-size: cover;
	}

	.wd_bloc_main_nav_ul_li-wppd {
		background-image: url(../src/img/wd-graph-wppd-tabeltte.png);
		background-position: center;
		background-size: cover;
	}

	.wd_bloc_main_nav_ul_li-grd {
		background-image: url(../src/img/wd-graph-app-tablette.png);
		background-position: center;
		background-size: cover;
	}

	.wd_bloc_main_img_deco_top {
		display: none;
		height: 594px;
		width: 1006px;
		left: 0px;
		top: 281px;
		position: absolute;
		z-index: -1;
	}
}

@media (min-width: 320px) and (max-width: 767px) {
	.wd_bloc_main_section {
		margin: 0 auto;
		width: 100vw;
		height: 320px;
		background-image: url(../src/img/wd-deco-top-mobil.png);
		background-color: $peach;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 0px;
		margin-bottom: 96px;
	}

	.wd_bloc_main_section_h1 {
		@include h1jm;
		color: $white;
		text-align: center;
		font-weight: 500;
		font-size: 32px;
		line-height: 36px;
		margin-top: 60px;
		margin-bottom: 24px;
	}

	.wd_bloc_main_section_p {
		@include bodyjr;
		color: $white;
		font-family: "Jost";
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 25px;
		text-align: center;
	}

	.wd_bloc_main_article {
		width: 100%;
		height: auto;
		margin: 0 auto 160px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: stretch;
		align-content: center;
		gap: 25px;
	}

	.wd_bloc_main_article_div {
		width: 90vw;
		height: 478px;
		border-radius: 15px;
	}

	.wd_bloc_main_article_div_div {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: stretch;
		align-items: center;
		align-content: stretch;
		margin-bottom: 40px;
	}

	.wd_bloc_main_article_div_invisible {
		display: none;
		width: 0px;
		height: 0px;
		border-radius: 0px;
	}

	.wd_bloc_main_article_div_invisible_div {
		display: none;
		width: 0px;
		border-radius: 0px;
		background-color: none;
	}

	.wd_bloc_main_article_div_div_img {
		width: 327px;
		height: auto;
		border-radius: 15px 15px 0px 0px;
	}

	.wd_bloc_main_article_div_div_text_h3 {
		@include h3jm;
		margin-bottom: 16px;
		text-align: center;
		color: $peach;
	}

	.wd_bloc_main_article_div_div_text {
		background-color: #fdf3f0;
		width: 327px;
		height: 150px;
		padding: 0px;
		border-radius: 0px 0px 15px 15px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		align-content: center;
	}

	.wd_bloc_main_article_div_div_text:hover {
		color: white;
		background-color: $peach;
		transition: 0.5s ease;
	}

	.wd_bloc_main_article_div_div_text_p {
		@include bodyjr;
		text-align: center;
		margin: 0 34px;
	}

	.wd_bloc_main_nav {
		width: 90vw;
		margin: 0 auto 160px;
	}

	.wd_bloc_main_nav_ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		gap: 24px;
	}

	.wd_bloc_main_nav_ul_li {
		width: 689px;
		height: 200px;
		background-color: coral;
		border-radius: 15px;
	}

	.wd_bloc_main_nav_ul_li_h2 {
		@include h2jm;
		color: $white;
		font-size: 28px;
		font-weight: 500;
		line-height: 36px;
		letter-spacing: 1.399999976158142px;
		text-align: center;
		margin-bottom: 11px;
	}

	.wd_bloc_main_nav_ul_li_h3 {
		@include h3jm;
		color: $white;
		font-size: 15px;
		font-weight: 500;
		line-height: 22px;
		letter-spacing: 5px;
		text-align: center;
	}

	.wd_bloc_main_nav_ul_li-appd {
		background-image: url(../src/img/wd-app-design-tablette.png);
		background-position: center;
		background-size: cover;
	}

	.wd_bloc_main_nav_ul_li-wppd {
		background-image: url(../src/img/wd-graph-wppd-tabeltte.png);
		background-position: center;
		background-size: cover;
	}

	.wd_bloc_main_nav_ul_li-grd {
		background-image: url(../src/img/wd-graph-app-tablette.png);
		background-position: center;
		background-size: cover;
	}

	.wd_bloc_main_img_deco_top {
		display: none;
		height: 594px;
		width: 1006px;
		left: 0px;
		top: 281px;
		position: absolute;
		z-index: -1;
	}
}
